*.tiff
*.png
*.jl.*.cov
*.jl.cov
*.jl.mem
.snakemake
input/
explorations/
foo/
docs/build/
.DS_Store
!landmask.tiff
!matlab_cloudmask.tiff
!matlab_normalized.tiff
!current_landmask.png
!cloudmask_test_image.tiff
!NE_Greenland.2020162.aqua.250m.tiff
!NE_Greenland_truecolor.2020162.aqua.250m.tiff