*.tiff
*.png
*.jl.*.cov
*.jl.cov
*.jl.mem
.snakemake
input/
explorations/
foo/
.DS_Store
!landmask.tiff
!matlab_landmask.png
!matlab_cloudmask.tiff
!matlab_normalized.tiff
!matlab_image_view.png
!current_landmask.png
!cloudmask_test_image.tiff
!clouds_channel.png
!ref_image_b7.png
!matlab_ice_water_discrim.png
!normalized_image.png
!ice_water_discrim_image.png
!NE_Greenland.2020162.aqua.250m.tiff
!NE_Greenland_truecolor.2020162.aqua.250m.tiff