## Ignore
*.tiff
*.png
*.jl.*.cov
*.jl.cov
*.jl.mem
*.jls
*.jld
.snakemake
*.snakemake_timestamp
input/
explorations/
foo/
images/
output/
icefloe-soit/
docs/build/
.DS_Store
.vs*

## Allow
!test/test_inputs/*.tiff
!test/test_inputs/*.png
!test/test_inputs/pipeline/expected/*.png
!test/test_inputs/pipeline/input_pipeline/*.tiff
