name: Documentation

on:
  push:
    branches:
      - main # update to match your development branch (master, main, dev, trunk, ...)
    tags: '*'
  pull_request:

jobs:
  build:
    permissions:
      actions: write
      contents: write
      pull-requests: read
      statuses: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/setup-julia@v2
        with:
          version: '1.11'
      - uses: julia-actions/cache@v2
      - name: Install dependencies
        shell: julia --color=yes --project=docs {0}
        run: |
          using Pkg
          Pkg.develop(PackageSpec(path=pwd()))
          Pkg.instantiate()
      - name: Update package revisions in notebooks
        run: |
          for script in $(find docs/src -name "*.ipynb"); do
            echo "Updating refs in $script"
            sed -i 's|Pkg.add(\\"IceFloeTracker\\")|Pkg.add(;name=\\"IceFloeTracker\\", rev=\\"${{ github.ref_name }}\\")|g' "$script" # replace IceFloeTracker installer with local path
            head -n 30 "$script"
            echo -e "\n=======\n" # divider between scripts
          done
      - name: Build and deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # If authenticating with GitHub Actions token
        run: julia --color=yes --project=docs docs/make.jl

